html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  max-width: 80rem;
  margin: 0 auto;
}

.navLogo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.navLogoImg {
  height: 3rem;
}

.navBrand {
  font-size: 1.25rem;
  font-weight: 500;
  color: #380110;
}

.navLinks {
  margin-top: 1.5rem;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.75rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 9999px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.navLink:hover {
  background-color: #f3f4f6;
}

.navLinkText {
  font-weight: 500;
  color: #4b5563;
}

.navLinkIcon {
  height: 1.5rem;
  width: 1.5rem;
}

@media (min-width: 1024px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .navLinks {
    margin-top: 0;
  }
}

.section {
  background-color: #0088e7;
  padding: 4rem 1rem;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.textSection {
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
}

.textHeading {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  margin-bottom: 5rem;
}

.highlightedText {
  color: #f0e6e9;
}



#carouselWrapper {
  width: 100%;
  max-width: 80rem;
  position: relative;
}

#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#prev,
#next {
  display: flex;
  justify-content: center;
  align-content: center;
  background: white;
  border: 2px black solid;
  padding: 12px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}

#prev {
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  display: none;
}

#next {
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

#content {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.animeTitle {
  color: #f0e6e9;
  font-weight: bold;
  text-align: center;
}

.map {
  background: black;
  position: relative;
  aspect-ratio: 9 / 16;
  max-height: 75vh;
  width: 100%;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 3rem;
}

.mapContent {
  width: 100%;
  height: 100%;
}

.mapButton {
  background: none;
  border: none;
  color: #007bff;
  text-decoration: underline;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
  display: inline;
}

.mapButton:hover {
  color: #0056b3;
  text-decoration: none;
}

@media (min-width: 1024px) {
  .textHeading {
    font-size: 2rem;
  }
}

.footer {
  padding: 2rem 1rem;
}

.footerCopyright {
  display: block;
  text-align: center;
  font-size: 0.875rem;
  color: #380110;
  padding-top: 1rem;
}

@media (min-width: 1024px) {
  .footerContainer {
    justify-content: space-between;
  }

  .footerLeft {
    justify-content: flex-start;
    align-items: center;
    text-align: left;
  }

  .footerCopyright {
    font-size: 1rem;
  }
}
