<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>AnimeMap - Screen2Scene</title>
        <link crossorigin="" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
              integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
              rel="stylesheet"/>
         <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    </head>
    <body>
    <nav class="nav">
        <a class="navLogo" href="/">
            <img alt="Logo" class="navLogoImg" src="{{ url_for('static', filename='images/logo.png') }}">
            <span class="navBrand">Anime Map - Screen2Scene</span>
        </a>

        <div class="navLinks">
            <a class="navLink" href="https://github.com/georgescutelnicu/AnimeMap-Screen2Scene" target="_blank">
                <span class="navLinkText">Source Code</span>
                <img alt="GitHub Icon" class="navLinkIcon" src="{{ url_for('static', filename='images/github.png') }}">
            </a>
        </div>
    </nav>

    <div class="section">
        <div class="container">
            <section class="textSection">
                <h1 class="textHeading">
                    Discover real-life locations featured in your favorite anime or
                    explore the full list of anime locations
                    across Japan on the <a class="highlightedText" href="#map">map</a>!
                </h1>
            </section>

            <div id="carouselWrapper">
                <div id="carousel">
                    <div id="content">
                        {% for anime in anime_details %}
                            <div class="animeContainer" onclick="showAnime('{{ anime_details[anime].japanese_name }}')">
                                <img
                                        class="item"
                                        src="{{ anime_details[anime].image_url }}"
                                />
                                <div class="overlay">
                                {% if anime_details[anime].japanese_name.lower() == anime_details[anime].english_name.lower()
                                    or anime_details[anime].english_name.lower() == anime_details[anime].romaji_name.lower() %}
                                    <p class="animeTitle">{{ anime_details[anime].romaji_name }}</p>
                                {% else %}
                                    <p class="animeTitle">{{ anime_details[anime].english_name }} <br>
                                        <span class="enAnimeTitle">({{ anime_details[anime].romaji_name }})</span></p>
                                {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="map" id="map">
                <div class="mapContent"></div>
            </div>

            <div id="infoContent" class="info-content">

            </div>
        </div>
    </div>

    <footer class="footer">
            <span class="footerText">Special thanks to
                <a href="https://furaba-animeseichi.blog.jp/">フラバーのふらふらアニメ聖地巡礼</a> for their amazing work!
                <br> Be sure to check them out for more anime pilgrimage adventures!</span>
    </footer>

    </body>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script>
        var mapPins = {{ map_pins | tojson }};
        var animeDetails = {{ anime_details | tojson }};
        var animeLocations = {{ anime_locations | tojson }};
    </script>
    <script crossorigin=""
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
</html>